# ===================================
# Default Laravel's gitignore config
# ===================================
/vendor
/node_modules
Homestead.yaml
.env

# ==========================
# Our own .gitignore config
# ==========================
.idea/
*.sublime-project
*.sublime-workspace
/public/inputfiles
/public/outputfiles
/public/js/MathJax/fonts
*~
